.add-option {
  display: flex;
  flex-direction: column;
  padding: $md-size;
}

.add-option__input {
  background: $off-blue;
  border: none;
  border-bottom: 0.3rem solid darken($off-blue, 15%);
  color: $off-white;
  flex-grow: 1;
  margin: 0 0 $sm-size 0;
  padding: $sm-size;
}

.add-option-error {
  color: $off-white;
  font-style: italic;
  margin: $md-size 0 0 0;
  padding: 0 $md-size;
}

@media (min-width: 35rem) {
  .add-option {
    flex-direction: row;
  }
  .add-option__input {
    margin: 0 $sm-size 0 0;
  }
}
