// CORES
$off-black: #20222b;
$off-white: #a5afd7;
$off-blue: #333745;
$wid-blue: #3c4251;
$foo-blue: #464b5e;
// $main-purple: #8357c5;
$main-purple: #335c67;

// TAMANHOS - FONTES e ESPAÇAMENTO
$xs-size: 0.9rem;
$sm-size: 1.2rem;
$md-size: 1.6rem;
$lg-size: 3.2rem;
$xl-size: 4.8rem;
